* {
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;    
}

html, body {
    height : 100%;
    overflow: hidden;
}

.container {
    margin : 0 auto;
    width : 40vw;
    height : 70vw;
    border: 1px solid black;
}

.container > .section-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
}

.container > .section-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
}