* {
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;    
}

html, body {
    height : 100%;
    overflow: hidden;
}

body {
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to bottom right, #e95e5b, #ba72e7);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0 auto;
    margin-top: 15vh;
    width : 80%;
    height : 70vh;
    display: flex;
}

.container > .section-left {
    flex: 1;
    background-image: url(../images/ea884ebb8f0a9.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container > .section-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background:#202021;
    align-items: center;
}

.container > .section-right > .welcomeText {
    color: rgb(233, 231, 231);
    font-size: 16px;
    font-family: 'Andada Pro', serif;
}

.container > .section-right input {
    width: 300px;
    height: 50px;
    padding : 10px;
    border : none;
    background-color: #303030;
    color : #c1c1c1;
}

.container > .section-right input::placeholder {
    background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png) ;
    background-size: contain;
    background-position: 1px center;
    background-repeat: no-repeat;
    text-indent: 25px;
    color : #c1c1c1;
}

.container > .section-right input:focus {
    outline-width: 0;
}


.container > .section-right > label {
    color: rgb(233, 231, 231);
    height: 20px;
    padding-bottom: 20px;
}

.container > .section-right #check {
    width: 20px;
    height: 20px;
}

.container > .section-right > .iconGroup {
    list-style: none;
    display: flex;
}

.container > .section-right > .iconGroup a {
    text-decoration: none;
    color: violet;
    font-size: 1.5rem;
    margin-left: 20px;
}

.container > .section-right > .iconGroup a:hover {
    font-size: 1.6rem;
}

.container > .section-right > p > a {
    text-decoration: none;
    color: violet;
}
