* {
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;    
}

html, body {
    height : 100%;
    overflow: hidden;
}

body {
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    justify-content: center;
    width : 700px;
    height : 700px;
    border: 1px solid black;
}

.container > .section-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
}